<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
		<logger name="fr.zepr.fb" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	
	<springProfile name="prod">
		<root level="ERROR">
			<appender-ref ref="CONSOLE" />
		</root>
		<logger name="fr.zepr.fb" level="ERROR" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	
</configuration>